<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootmate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1><img src="/images/bootmate_logo.png" id="home"></h1>

      <nav>
        <a href="/search" class="btn btn-warning">Search</a> ||
        <button class="btn btn-warning" id="logout">Logout</button>
        <a href="/api/students" class="btn btn-warning mr-4" id="all-students">All Students</a>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <script src="/js/logout.js"></script>
</body>

</html>