<div class="container text-center">
  <div class="row">
    <div class="col-4 border">
      <h2>New User Registration:</h2>
      <a
        href="newStudent.handlebars"
        class="btn btn-secondary"
        tabindex="-1"
        role="button"
        aria-disabled="true"
      >Enter</a>
    </div>
    <div class="col-4">
      <img
        src="./images/background UCF.png"
        class="img-fluid"
        alt="image of class logo"
      />
    </div>
    <div class="col-4 border">
      <h2>Existing User</h2>
      <h2>Login-in:</h2>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email-login"
          placeholder="name@example.com"
        />
        <label for="email-login">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
        <label for="password-login">Password</label>
      </div>
      <button
        class="btn btn-secondary"
        tabindex="-1"
        role="button"
        aria-disabled="true"
      >Submit</button>
    </div>
  </div>
</div>