<div class="container text-center">
  <img
    src="../images/background-UCF.png"
    class="img-center"
    alt="image of class logo"
  />
</div>
<div class="container text-center">
  <div class="row">
    <div class="border">
      <h2>New User Registration:</h2>
      <form class="signup-form">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">First Name</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label=""
            aria-describedby="addon-wrapping"
            id="firstName-signup"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Last Name</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label=""
            aria-describedby="addon-wrapping"
            id="lastName-signup"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Email Address</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label=""
            aria-describedby="addon-wrapping"
            id="email-signup"
          />
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Password</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label=""
            aria-describedby="addon-wrapping"
            id="password-signup"
          />
        </div>
        <p>Interested in Employment Opportunities:</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="employmentOptions"
          />
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="employmentOptions"
          />
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        <p>Interested in collaboration:</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="collaborationOptions"
          />
          <label class="form-check-label" for="inlineRadio3">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="collaborationOptions"
          />
          <label class="form-check-label" for="inlineRadio4">No</label>
        </div>
      </form>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </div>
</div>

<script src="../public/js/login.js"></script>