<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <img
        src="./images/background UCF.png"
        class="img-"
        alt="image of class logo"
      />
    </div>
    <br />
    <div class="col-6 border">
      <h2>Search for Existing User:</h2>
      <br />
      <div class="form-floating mb-3">
        <input
          type="firstName"
          class="form-control"
          id="firstName"
          placeholder=""
        />
        <label for="floatingFirstName">First Name</label>
      </div>
      <p>and / or:</p>
      <div class="form-floating">
        <input
          type="lastName"
          class="form-control"
          id="lastName"
          placeholder=""
        />
        <label for="floatingLastName">Last Name</label>
      </div>
      <br />
      <a
        href="./index3.html"
        class="btn btn-secondary"
        tabindex="-1"
        role="button"
        aria-disabled="true"
      >Submit</a>
    </div>
  </div>
</div>