@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900);
* {
    margin: 0;
    padding: 0;
}
body {
    background: url('/images/html-system-website-concept.jpg') fixed center center no-repeat;
    font-size: 100%;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 50px;
    background-position: center center;
    background-size: cover;
}
h1, h2, h3 {
    font-weight: 900;
}
ul {
    list-style: none;
}
h1 {
    margin: 30px 0;
    text-align: center;
    color: black; 
}
.student-list-container {
    width: 75%;
    margin: 0 auto;
}

.student {
    background-color: white;
    margin-bottom: 15px;
    overflow: hidden;
}
.student * {
    color: black;
}
.student img {
    float: left;
    margin-right: 25px;
    height: 150px;
}

/* .no-button {
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-size: 100%;
    display: flex;
    padding: 10px 20px;
  } */
  
  .no-button:hover {
    background: rgb(170, 100, 100, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    text-decoration: none;
    color: #ffffff;
  }

  .no-button:active {
    background: rgb(170, 75, 75);
    color: #000000;
  }

  .search-results {
    margin-top: 20px;
  }
  
  /* added styles */

#home {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-size: 100%;
}

#new-user, #existing-user, #search-user, .no-button {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 15px;
    border-radius: 10px;
}

.col-4, .col-6 {
    margin-top: 20px;
}

.col-6 {
    justify-content: space-around;
}

.img- {
    width: 500px;
}


